@use 'variables';

.wrapper-width{
    margin: 0 auto;
    max-width: 1920px;
}
.wrapper{
    margin: 0 auto;
    max-width: 1230px;

    &_grey{
        background-color: variables.$grey;
    }
}
.wrapper-content{
    padding-top: 120px;
    padding-bottom: 120px;

    &__title{
        @include variables.bold;
        font-size: variables.$font-size-46;
        line-height: variables.$font-line-height-130-int;

        text-align: center;

        color: variables.$text-dark;
    }

    &__sub-title{
        margin-top: 24px;

        @include variables.regular;
        font-size: variables.$font-size-18;
        line-height: variables.$font-line-height-150-int;
        color: variables.$text-grey;

        text-align: center;
    }
}

@media (max-width: 1600px){
    .wrapper-width{
        padding-left: 25px;
        padding-right: 25px;
    }
}
@media (max-width: 1024px){
    .wrapper-content__title{
        font-size: 34px;
    }
}

button{
    cursor: pointer;
}

