.wrapper-width{
    margin: 0 auto;
    max-width: 1920px;
}
.wrapper{
    margin: 0 auto;
    max-width: 1230px;
}
.wrapper-content{
    padding-top: 120px;
    padding-bottom: 120px;
}

button{
    cursor: pointer;
}

