// Шрифты
$font-family: "Ubuntu", sans-serif;


// weight
$font-weight-bold: 700;
$font-weight-regular: 400;

// size
$font-size-14: 14px;
$font-size-16: 16px;
$font-size-18: 18px;


// line-height
$font-line-height-150-int: 150%;
$font-line-height-160-int: 160%;


@mixin bold {
    font-family: $font-family;
    font-weight: $font-weight-bold;
}
@mixin regular {
    font-family: $font-family;
    font-weight: $font-weight-regular;
}

// Цвета
$green: #1F4746;
$green-white: #6CB7B0;

// текст
$text-white: #FFFFFF;
$text-dark: #1E212C;
$text-dark-white: #424551;



// анимации
@mixin animation-button {
    transition: background-color 200ms ease-in;
    transition: opacity 100ms ease-in;
}

@mixin animation-button-back-50 {
    transition: background-color 50ms linear;
}

@mixin animation-height-200 {
    transition: height 200ms ease-in;
}