// Шрифты
$font-family: "Ubuntu", sans-serif;


// weight
$font-weight-bold: 700;
$font-weight-regular: 400;

// size
$font-size-14: 14px;
$font-size-16: 16px;
$font-size-18: 18px;


// line-height
$font-line-height-150-int: 150%;
$font-line-height-160-int: 160%;


@mixin bold {
    font-family: $font-family;
    font-weight: $font-weight-bold;
}
@mixin regular {
    font-family: $font-family;
    font-weight: $font-weight-regular;
}

// Цвета


// текст
$text-dark: #1E212C;
$text-dark-white: #424551;