*, *::after, *::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.test{
    width: 50px;
    aspect-ratio: 1;
    background-color: tomato;
}

@import 'fonts',
'variables',
'components',
'header',
'footer',
'about',
'text',
'catalog',
'slider';