*, *::after, *::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

@import 'fonts',
'variables',
'components',
'header',
'footer',
'about',
'text',
'catalog',
'slider',
'documents',
'conditions',
'advantages',
'form',
'communication';